<div class="row">
  <div class="col-md-12" ba-panel ba-panel-title="TAREFAS">
    <div class="horizontal-scroll">
      <div class="form-group select-page-size-wrap ">
        <div class="add-row-editable-table">
          <button class="btn btn-primary" ng-click="open('app/pages/ui/modals/modalTemplates/taskNewModal.html', 'lg', {})">Nova Tarefa</button>
        </div>
        <div class="add-row-editable-table">
          <button class="btn btn-primary" ng-click="open('app/pages/ui/modals/modalTemplates/taskNewBulkModal.html', 'lg', {})">Novas Tarefas em Lote</button>
        </div>
        <label>Linhas por página
          <select class="form-control selectpicker show-tick" title="Rows on page" selectpicker
                  ng-model="smartTablePageSize" ng-options="i for i in [5,10,15,20,25]">
          </select>
        </label>
      </div>
      <table class="table" st-safe-src="tasks" st-table="smartTableData">
        <thead>
        <tr class="sortable ">
          <th st-sort="done">Concluído</th>
          <th st-sort="hospital">Hospital</th>
          <th st-sort="operator">Operador</th>
          <th st-sort="specialty">Especialidade</th>
          <th st-sort="date">Data</th>
          <th st-sort="timeRange">Horário</th>
          <th>Ações</th>
        </tr>
        <!--<tr>-->
          <!--<th><input st-search="done" placeholder="Concluído" class="input-sm form-control search-input"-->
                     <!--type="search"/></th>-->
          <!--<th><input st-search="hospital" placeholder="Buscar Hospital" class="input-sm form-control search-input"-->
                     <!--type="search"/></th>-->
          <!--<th><input st-search="operator" placeholder="Buscar Operador" class="input-sm form-control search-input"-->
                     <!--type="search"/></th>-->
          <!--<th><input st-search="specialty" placeholder="Buscar Especialidade" class="input-sm form-control search-input"-->
                     <!--type="search"/></th>-->
          <!--<th><input st-search="date" placeholder="Buscar Data" class="input-sm form-control search-input"-->
                     <!--type="search"/></th>-->
          <!--<th></th>-->
        <!--</tr>-->
        </thead>
        <tbody>
        <tr ng-repeat="item in smartTableData">
          <td>{{item.status}}</td>
          <td>{{hospitals.$getRecord(item.hospital).name}}</td>
          <td>{{operators.$getRecord(item.operator).name}}</td>
          <td>{{specialties.$getRecord(item.specialty).name}}</td>
          <td>{{item.date | date:'dd/MM/yyyy'}}</td>
          <td>{{item.timeRange}}</td>
          <td>
            <button type="button" class="btn btn-primary editable-table-button btn-xs" data-toggle="modal" ng-click="open('app/pages/ui/modals/modalTemplates/taskEditModal.html', 'lg', item)">Editar</button>
            <button type="button" class="btn btn-danger editable-table-button btn-xs" ng-click="open('app/pages/ui/modals/modalTemplates/operatorRemoveModal.html', 'sm', item)">Deletar</button>
          </td>
        </tr>
        </tbody>
        <tfoot>
        <tr>
          <td colspan="6" class="text-center">
            <div st-pagination="" st-items-by-page="smartTablePageSize" st-displayed-pages="5"></div>
          </td>
        </tr>
        </tfoot>
      </table>
    </div>
  </div>
</div>