<div class="modal-content">
  <div class="modal-header">
    <button type="button" class="close" ng-click="$dismiss()" aria-label="Close">
      <em class="ion-ios-close-empty sn-link-close"></em>
    </button>
    <h4 class="modal-title" id="myModalLabel">Todas as tarefas do dia</h4>
  </div>
  <div class="modal-body">
    <form class="form-horizontal">
      <p class="center">Essa opção criará todas as tarefas para ambos os operadores registrados, considerando todos os hospitais registrados e intercalando entre PS Adulto e PS Infantil em cada uma das faixas de horário</p>
      <div class="form-group">
        <label for="inputDate" class="col-sm-2 control-label">Data</label>
        <div class="col-md-10">
          <p class="input-group">
            <input id="inputDate" type="text" class="form-control" uib-datepicker-popup ng-model="task.date" is-open="datePopup.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" />
          <span class="input-group-btn">
            <button type="button" class="btn btn-default" ng-click="openDatePopup()"><i class="glyphicon glyphicon-calendar"></i></button>
          </span>
          </p>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" ng-click="addBulkAll()">Criar TODAS as tarefas do dia</button>
  </div>
</div>
