<div class="modal-content">
  <div class="modal-header">
    <button type="button" class="close" ng-click="$dismiss()" aria-label="Close">
      <em class="ion-ios-close-empty sn-link-close"></em>
    </button>
    <h4 class="modal-title" id="myModalLabel">Novas Tarefas em Lote</h4>
  </div>
  <div class="modal-body">
    <form class="form-horizontal">
      <p class="center">Essa opção criará tarefas para o operador selecionado contendo todos os hospitais com a especialidade selecionada</p>
      <div class="form-group">
        <label for="inputSpecialty" class="col-sm-2 control-label">Especialidade</label>
        <div class="col-sm-10">
          <select class="form-control selectpicker with-search" data-live-search="true" title="" id="inputSpecialty" selectpicker
                  ng-model="task.specialty"
                  ng-options="item.$id as item.name for item in specialties">
          </select>
        </div>
      </div>
      <div class="form-group">
        <label for="inputOperator" class="col-sm-2 control-label">Operador</label>
        <div class="col-sm-10">
          <select class="form-control selectpicker with-search" data-live-search="true" title="" id="inputOperator" selectpicker
                  ng-model="task.operator"
                  ng-options="item.$id as item.name for item in operators">
          </select>
        </div>
      </div>

      <div class="form-group">
        <label for="inputDate" class="col-sm-2 control-label">Data</label>
        <div class="col-md-10">
          <p class="input-group">
            <input id="inputDate" type="text" class="form-control" uib-datepicker-popup ng-model="task.date" is-open="datePopup.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" />
          <span class="input-group-btn">
            <button type="button" class="btn btn-default" ng-click="openDatePopup()"><i class="glyphicon glyphicon-calendar"></i></button>
          </span>
          </p>
        </div>
      </div>
      <div class="form-group">
        <label for="inputTimeRange" class="col-sm-2 control-label">Horário</label>
        <div class="col-sm-10">
          <select class="form-control selectpicker with-search" data-live-search="true" title="" id="inputTimeRange" selectpicker
                  ng-model="task.timeRange"
                  ng-options="i for i in ['06h às 08h', '08h às 10h', '10h às 12h', '12h às 14h', '15h às 17h', '17h às 19h', '19h às 21h', '21h às 23h']">
          </select>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" ng-click="addBulk()">Criar</button>
  </div>
</div>
